{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} {% endblock %}
  </head>

  <body>
    <div class="container">
      <div class="navigation">
        <div class="nav-logo">
          <img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
        </div>
        <div class="nav-row">
          <img src="{% static 'images/dashboard.png' %}" alt="logo" />
          <a class="nav" href="#">Dashboard</a>
        </div>
        <div class="nav-row">
          <img src="{% static 'images/history.png' %}" alt="logo" />
          <a class="nav" href="#">Payment History</a>
        </div>
        <div class="nav-row">
          <img src="{% static 'images/queries.png' %}" alt="logo" />
          <a class="nav" href="#">Queries</a>
        </div>
        <div class="nav-row">
          <img src="{% static 'images/acc_settings.png' %}" alt="logo" />
          <a class="nav" href="#">Account Settings</a>
        </div>
        <div class="nav-row">
          <img src="{% static 'images/logout.png' %}" alt="logo" />
          <a class="nav" href="#">Logout</a>
        </div>

        <!--
                    <a class="logout" href="#">
                    <button class="logout-btn" type="submit" onclick="return confirm('Are you sure you want to logout?')">Logout</button>
                </a>
                -->
      </div>

      <div class="out-nav">
        <div class="collar">
          <div class="left-sec">
            <h2>Welcome, Student {{student_ID}}</h2>
          </div>
          <div class="right-sec">
            <p>Date: {{current_date}}</p>
          </div>
        </div>

        <div class="content">{% block content %} {% endblock %}</div>
      </div>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
