body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.navigation {
    width: 17%;
    padding: 0 15px;
    background:#002453; 
    overflow-y: auto;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo img{
    margin: 20px 0;
    height: 80px;
    border-radius: 10px;
    background-color: #fff;
    user-select: none;
    pointer-events: none;
}

.nav-row {
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
}

.nav-row img {
    margin-left: 5px;
    padding-left: 10px;
    height: 25px;
    filter: invert(91%) sepia(8%) saturate(2817%) hue-rotate(183deg) brightness(104%) contrast(100%);
}

.nav-row a {
    color: #e0e7ff; 
    text-decoration: none;
    padding: 13px 0 13px 10px;
    font-size: 18px;
    margin-left: 0;
    width: 100%;
}

.nav-row:hover {
    transform: scale(1.05);
    transition: transform ease 0.4s;
    background-color: #ffffff;
    border-radius: 10px;
}

.nav-row:hover img {
    filter: invert(22%) sepia(61%) saturate(1785%) hue-rotate(191deg) brightness(93%) contrast(98%);
}

.nav-row:hover a,
.nav-row:hover .logout-btn{
    color: #354a81;
}

.nav-row .logout {
    width: 100%;
}

.logout-btn {
    background: none;
    border: none;
    margin-left: 5px;
    font-size: 18px;
    color: #e0e7ff; 
    height: 45px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.out-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.collar {
    background: #1d4a86;
    color: #f9f9ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    user-select: none;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px #8580a1;
}

.left-sec {
    display: flex;
    align-items: center;
}

.left-sec h2 {
    padding-left: 20px;
}

.right-sec {
    display: flex;
    align-items: center;
}

.right-sec p {
    margin-right: 30px;
    font-weight:600;
}

.content-out {
    margin-left: 30px;
    flex: 1 1 auto; 
    overflow-y: auto; 
    overflow-x: auto;
}

.content {
    width: 98%;
    padding-bottom:20px;
    flex: 1 1 auto; 
    overflow-y: auto; 
    overflow-x: auto;
    font-weight: 600;
    color: #4372ab;
    background-color: #ffffff;
    margin: 20px 0;
}

.content h3 {
    margin-top: 0;
    margin-right: 0;
    background-color: #5a91c8;
    color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}

.contain {
    padding: 5px 10px 10px 20px;
}

form .form-group,
form .button-group{
    display: inline-block;
}

.content select {
    margin-top: 0;
    height: 30px;
    background: none;
    padding: 0 5px;
    box-sizing: border-box;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #3a5a86;
    font-size: 16px;
}

.content option {
    padding: 50px 20px;
    font-size: 16px;
    color: #000;
}

.button-group button {
    height: 30px;
    width: 80px;
    border-style: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #58b6c1;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.form-group-upload input {
    font-size: 14px;
}

.button-group-upload button {
    margin-top: 10px                                                                                                                                                                                                                                                                                                                                                                                                                        ;
    height: 30px;
    width: 80px;                                                                                                                            
    border-style: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #459651;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

.display-table {
    width: 99%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.display-table th {
    border: 2px solid #c6d7f2;
    padding: 5px;
    text-align: center;
    background-color: #82acd6;
    color: #fdfeff;
    height: 30px;
}

.display-table td {
    border: 2px solid #d7e3ff;
    padding: 5px;
    text-align: center;
    background-color: #eff2ff;
    color: #5e9acb;
    font-weight: 600;
    font-size: 15px;
}

td .edit-button {
    height: 26px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#55a26e;
    margin: 0 5px;
}

.edit-button a {
    text-decoration: none;
    color: #f6f6f6;
    font-weight: 500;
    font-size: 16px;
}

.delete-button button {
    cursor: pointer;
    background-color: #8667d4;
    color: #f6f6f6;
    height: 26px;
    font-size: 1em;
    border: none;
    border-radius: 2px;
}



