.content {
    width: 98%;
    padding-bottom:20px;
    flex: 1 1 auto; 
    overflow-y: auto; 
    overflow-x: auto;
    font-weight: 600;
    color: #4372ab;
    background-color: #ffffff;
    margin: 20px 0;
}

.content h3 {
    margin-top: 0;
    margin-right: 0;
    background-color: #5a91c8;
    color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}

.contain {
    padding: 5px 10px 10px 20px;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #316599;
}
.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eef2f8;
}
.form-group textarea {
    resize: vertical;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
}
.checkbox-group label {
    display: flex;
    align-items: center;
}
.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}
.button-group {
    text-align: center;
}
.button-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.button-group button:hover {
    background-color: #003a78;
}