.account-settings {
    padding: 20px;
    border-radius: 8px;
    background-color: #f3f3f3; 
    border: 2px solid #238226; 
}

.readonly-field {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.readonly-field label {
    width: 100px;
    font-weight: bold;
    color: rgba(14, 12, 12, 0.929);
}

.readonly-field input {
    width: 50%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.824);
    border: none;
    border-color: #2c3e50;
    color: rgb(88, 85, 85);
    cursor: not-allowed;
}

.password-change {
    padding: 20px;
    border-radius: 8px;
    background-color: #f3f3f3; 
    border: 2px solid #238226; 

}

.password-field {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.password-field label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    color: rgba(14, 12, 12, 0.929);
}

.password-wrapper {
    position: relative;
    width: 100%;
    padding: 10px;
}

.password-wrapper input {
    width: 100%;
    border: 1px solid #e74c3c;
    border-radius: 4px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #25282c;
}

.password-change button {
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.password-change button:hover {
    background-color: #c0392b;
}

.content h3{
    margin-top: 0;
    margin-right: 0;
    background-color: #5a91c8;
    color: #ffffff;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}
