.account-settings, .password-change {
    padding-top: 3px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.readonly-field, .password-field {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.readonly-field label, .password-field label {
    width: 150px;
    font-weight: bold;
    color: #354a81;
}

.readonly-field input, .password-field input {
    width: 50%;
    padding: 8px;
    background-color: #e9efff;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    color: #354a81;
    cursor: not-allowed;
}

.password-field input {
    cursor: auto;
}

.password-change button {
    padding: 10px 20px;
    background-color: #069d4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.password-change button:hover {
    background-color: #058d43;
}

.password-wrapper {
    position: relative;
    width: 50%;
}

