{% extends 'adminportal/admin_base.html' %} 
{% load static %} 
{% block head %}
<title>Profile & Settings</title>
<link rel="stylesheet" href="{% static 'css/admin/admin_profile.css' %}" />
{% endblock %} 
{% block content %}
<div class='content'>
    <h3>Profile</h3>
    <div class="contain">    
        <form id="adm-profile">
            <div class="form-group">
                <label for="another_course">Name:</label>
                <input type="text" id="name" value="Mahesh Nayak">
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" id="email" value="maheshnayak@gmail.com">
            </div>
            <div class="form-group">
                <label>Phone No:</label>
                <input type="text" id="phone" value="+91246424684">
            </div>
            <button class="button-group" id="submit-adm-profile" onclick="return confirm('Are you sure you want to apply changes to your profile')">Submit</button>
        </form>
    </div>
</div>
<div class='content'>
    <h3>Change Password</h3>
    <div class="contain">
        <form id="passwordChangeForm" action="">
            <div class="form-group">
                <label>Old Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label>New Password:</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div class="form-group">
                <label>Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button style="width: 160px;" class="button-group" type="submit-adm-password" onclick="return confirm('Are you sure you want to change your account password?')">Change Password</button>
        </form>
    </div>
</div>
<div class="content">
    <h3>Reset Database</h3>
    <div class="contain">
        <form id="dbResetForm" action="">
            <div class="form-group">
                <label>Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button style="width: 140px; background-color: #d24b4b;" class="button-group" type="submit-reset-db" onclick="return confirm('Are you sure you want to reset the database')">Reset Database</button>
        </form>
    </div>
</div>
{% endblock %}
