{% extends 'adminportal/admin_base.html' %} {% load static %} {% block head %}
<title>Dashboard</title>
<link rel="stylesheet" href="{% static 'css/admin/admin_dash.css' %}" />
{% endblock %} {% block content %}
<div class="content">
  <h3>Payment Links Dashboard</h3>
  <div class="contain">
    <div class="form-group">
      <label for="rowsToShow">Show Rows:</label>
      <select id="rowsToShow" name="rowsToShow" onchange="updateTable()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="all">All</option>
      </select>
    </div>
    <table>
      <thead>
        <tr>
          <th>Sl. No</th>
          <th style="width: 300px; text-align: left; padding-left: 10px">
            Fee Item Name
          </th>
          <th style="width: 250px; text-align: left">Course</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th style="text-align: right">Amount (INR)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="tableBody"></tbody>
    </table>

    <script>
      let paymentLinks = "";

      addEventListener("DOMContentLoaded", () => {
        fetch("/adm/getfeesassigned/")
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            paymentLinks = data;
            updateTable();
          });
      });

      function updateTable() {
        const rowsToShow = document.getElementById("rowsToShow").value;
        const tableBody = document.getElementById("tableBody");
        tableBody.innerHTML = "";

        let rows = paymentLinks;
        if (rowsToShow !== "all") {
          rows = paymentLinks.slice(0, Number(rowsToShow));
        }

        rows.forEach((data, link) => {
          const row = document.createElement("tr");
          row.innerHTML = `
                            <td><a href="payment_details.html?id=${link.id}">${
            data.id
          }</a></td>
                            <td><a href="payment_details.html?id=${
                              link.id
                            }" style="text-align: left; padding: 0 10px;">${
            data.description
          }</a></td>
                            <td><a href="payment_details.html?id=${
                              link.id
                            }" style="text-align: left; padding: 0 10px;">${
            data.course_id
          }</a></td>
                            <td><a href="payment_details.html?id=${link.id}">${
            data.start_date
          }</a></td>
                            <td><a href="payment_details.html?id=${link.id}">${
            data.end_date
          }</a></td>
                            <td><a href="payment_details.html?id=${
                              link.id
                            }" style="text-align: right; padding: 0 10px;">${data.amount.toFixed(
            2
          )}</a></td>
                        `;
          tableBody.appendChild(row);
        });
      }
    </script>
  </div>
</div>
{% endblock %}
